apache-airflow==2.2.0
apache-airflow-backport-providers-amazon
apache-airflow-backport-providers-slack
apache-airflow-backport-providers-ftp
apache-airflow-backport-providers-http
apache-airflow-backport-providers-sftp
apache-airflow-backport-providers-ssh
awscli
cryptography==3.3.2
Cython==0.28.2
Flask==1.0.4
GitPython==2.1.9
lxml==4.7.1
pexpect
pip==21.1
pipenv
redis==3.2.1
setuptools==39.1.0
sickle
tulflow==0.8.5
werkzeug<1.0.0
xmltodict
